<div style="text-align:center">
  <h1>
    Guest Registry
  </h1>
</div>
<button [routerLink]="['/event-list']">Events</button>
<button [routerLink]="['/card/list']">Cards</button>
<button [routerLink]="['/person-list']"><u><b>Person</b></u></button>
<button [routerLink]="['/worker-list']"><u><b>Worker</b></u></button>
<button [routerLink]="['/location-list']">Locations</button>

<p>Visus zmones darom kartu? Ar jiems koki filtra galvot reikia? Ar darom 2 sarasus?</p>

<router-outlet></router-outlet>
