<!--<?xml version="1.0" encoding="UTF-8"?>-->
<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <include resource="/org/springframework/boot/logging/logback/base.xml"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%blue(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %-5level %green(%logger{55}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/test.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log/test.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date: %-4relative [%thread] %-5level %logger{55} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="warn">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE" />
    </root>
    <logger name="practice.guestregistry" level="warn"/>
</configuration>
