<p>type-selectlist works!</p>
<div>
  <label>Colour</label>
  <div>
    <select [(ngModel)]="card.type"">
    <option *ngFor="let x of types" [value]="x.id" [selected]="card.type == x.type">{{x.type}}</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="status">Status</label>
  <select class="form-control" name="status" [(ngModel)]="category.status">
    <option [value]="1" [selected]="category.status ==1">Active</option>
    <option [value]="0" [selected]="category.status ==0">In Active</option>
  </select>
</div>


<div>
  <label>Colour</label>
  <div *ngIf="car != null">
    <select [(ngModel)]="car.colour">
      <option *ngFor="let x of colours" [ngValue]="x" >{{x.name}}</option>
    </select>
  </div>
</div>
