<p>card-add works!</p>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form>
        <fieldset>
          <legend class="text-center">
            Valid information is required to register.
            <span class="req"> </span>
          </legend>

          <div class="form-group">
<!--            <label for="Serial number"><span class="req">* </span> Serial number </label>-->
            <label for="Serial number"><span class="req">* </span> Serial number </label>
<!--            <input required type="text" [(ngModel)]="card.serialNumber" name="name" id="name"-->
            <input type="text" [(ngModel)]="card.serialNumber" name="name" id="name"
                   class="form-control phone" maxlength="28" placeholder="XXXX-XXXX-XXXX" />
          </div>

          <div>
            <p>
              CIA BUS PRISKIRIAMA LOKACIJA NAUDOJANT LOKACIJOS SERVISA
              <label>Location
                <select [(ngModel)]="card.location"
                        required name="location" #location>
                  <option *ngFor="let location of locations" [ngValue]="location">
                    {{location.name}}
                  </option>
                </select></label>
            </p>
          </div>

          <div class="form-group">
            <label> Select card type </label>
            <select [(ngModel)]="card.ctype"
                    required name="ctype" #ctype>
              <option value="GUEST" selected>Guest</option>
              <option value="PERSONNEL">Personnel</option>
            </select>
          </div>

          <div class="form-group">
          <label>
            Date Time Range From:
            <input name="selectedMoments" [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"
                   [(ngModel)]="selectedMoments"
                   [selectMode]="'rangeFrom'">
            <owl-date-time #dt12></owl-date-time>
          </label>
          </div>

          <div class="form-group">
            <label>
              Date Time Range To:
              <input name="selectdMoments" [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13"
                     [(ngModel)]="selectedMoments"
                     [selectMode]="'rangeTo'">
              <owl-date-time #dt13></owl-date-time>
            </label>
          </div>


          <div class="form-group">
            <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="addCard()">
            <input class="btn btn-success btn-sl" type="submit" name="submit_back" value="Back to card list" (click)="gotoPage('card/list')">
          </div>
        </fieldset>
      </form><!-- ends register form -->
      <!-- second for to fiter user-->
    </div><!-- ends col-6 -->

  </div>
</div>



