<p>card-list-delete works!</p>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<button class="btn btn-success btn-sl"(click)="goToPage('card/add')">
  <span>Register new card</span>
</button>
<!--
<div class="container">
  <div class="row">
    <div id="custom-search-input">
      <div class="input-group col-md-12" style="text-align: center">
        <input type="text" class="search-query form-control" placeholder="Search With Id"  name="searchableId" [(ngModel)]="searchableId"/>
        <span class="input-group-btn">
                <button class="btn btn-danger" type="button" (click)="findCardById(searchableId)">
                    <span class=" glyphicon glyphicon-search"></span>
                </button>
            </span>
      </div>
    </div>
  </div>
</div>

-->

<div class="container">
  <div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
      <table class="table table-striped custab">
        <thead>
        <tr>
          <th>Id</th>
          <th>Serial Number</th>
          <th>Location name</th>
          <th>Card type</th>
          <th>Manufactured</th>
          <th>Valid untik</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let card of cards">
          <td>{{card.id}}</td>
          <td>{{card.serialNumber}}</td>
          <td>{{card.location.name}}</td>
          <td>{{card.ctype}}</td>
          <td>{{card.manufactured}}</td>
          <td>{{card.validUntil}}</td>
          <td class="text-center"><button class="btn btn-success btn-xs" (click)="goToPage('card/update/'+card.id)"><span class="glyphicon"></span> Update</button></td>
          <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteCard(card.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

















<!--<script src="../../../../../card-client/src/app/registration/registration.component.ts"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form>
        <fieldset>
          <legend class="text-center">Valid information is required to register. <span class="req"><small>
                                required *</small></span></legend>

          <div class="form-group">
            <label for="Name"><span class="req">* </span> Card serial number </label>
            <input required type="text" [(ngModel)]="card.serialNumber" name="serialNumber" id="txt"
                   class="form-control phone" maxlength="28" placeholder="Enter card serial number..." />
          </div>

          <div class="form-group">
            <label for="Type"><span class="req">* </span> Type: </label>
            <input class="form-control" type="text" [(ngModel)]="card.ctype" name="type" id="txt" required
                   placeholder="There should be type" />
            <div id="errFirst"></div>
          </div>

          <div class="form-group">
            <label for="manufactured"><span class="req">* </span> Date from : </label>
            <input class="form-control" type="text" [(ngModel)]="card.manufactured" name="experience" id="txt"
                   placeholder="date from" required />
            <div id="errLast"></div>
          </div>

          <div class="form-group">
            <label for="validUntil"><span class="req">* </span> Date to: </label>
            <input class="form-control" required type="text" [(ngModel)]="card.validUntil" name="domain"
                   id="email" placeholder="date to" />
            <div class="status" id="status"></div>
          </div>


          <div class="form-group">
            <label for="availability"><span class="req">* </span> availability: </label>
            <input class="form-control" required type="text" [(ngModel)]="card.location" name="availability"
                   id="availability" placeholder="is it available" />
            <!-            <div class="status" id="status"></div>             ->
          </div>

          <div class="form-group">
            <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="registerNow()">
          </div>
        </fieldset>
      </form>    <!- ends register form ->
      <!- second for to fiter user->
    </div><!- ends col-6 ->

  </div>
</div>
-->
